@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 100%;
    background: linear-gradient(180deg, #fdfbfb, #ebedee);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.cabecalho-menu {
    display: flex;
    gap: 60px;
}

.menu-item {
    color: #363636;
    font-size: 400;
    font-size: 18px;
}

.menu-item:hover {
    color: rgba(142, 197, 248, 0.53);
}

.conteudo {
    border-top: 0.4px solid #363636;
}

.conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.conteudo-principal-escrito-titulo {
    font-weight: 400;
    font-size: 64px;
    color: #363636;
}

.conteudo-principal-escrito-subtitulo {
    font-weight: 400;
    font-size: 24px;
    color: #363636
}

.conteudo-principal-escrito-botao {
    background: linear-gradient(90deg, #e0c0ff, #8ec5fc);
    width: 185px;
    height: 67px;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;
    font-weight: 400;
}

.conteudo-principal-escrito-botao:hover {
    background: linear-gradient(90deg, #d2a2ff, #7cbeff);
}

.conteudo-principal-imagem {
    height: 430px;
    border-radius: 500px;
    margin-top: 100px;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
}

.conteudo-secundario-titulo {
    border-top: 0.4px solid #363636;
    padding-top: 48px;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
    font-weight: 300;
    font-size: 18px;
    color: #363636;
}

.rodape {
    padding: 32px;
    border-top: 0.4px solid #363636;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}